@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Poppins Bold";
  src: url("assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
}

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(24, 40%, 95%);
  --color-neutral-600: hsl(25, 17%, 36%);
  --color-neutral-900: hsl(24, 96%, 9%);
  --color-accent-yellow-500: hsl(43, 93%, 63%);
  --color-accent-blue-400: hsl(221, 68%, 75%);
  --color-accent-blue-600: hsl(222, 52%, 55%);
  --color-accent-teal-400: hsl(173, 66%, 57%);
  --color-accent-pink-400: hsl(314, 94%, 76%);
  --color-accent-pink-500: hsl(337, 80%, 70%);
  --color-accent-pink-700: hsl(336, 79%, 49%);

  --font-poppins-bold: Poppins Bold, sans-serif;
  --font-poppins-semibold: Poppins SemiBold, sans-serif;
  --font-poppins-medium: Poppins Medium, sans-serif;
  --font-poppins-regular: Poppins Regular, sans-serif;

  --radius-0: 0;
  --radius-4: 1rem;
  --radius-6: 1.25rem;
  --radius-8: 2rem;
  --radius-10: 2.5rem;
  --radius-12: 3rem;
  --radius-16: 4rem;
  --radius-20: 5rem;
  --radius-24: 6rem;
  --radius-full: 9999px;

  --inset-shadow-brand-sm: 0 35px 35px rgba(0, 0, 0, 0.8);
  --inset-shadow-brand-md: 0 0.25rem 0.25rem rgba(46, 20, 1, 1);

  --border-brand: 0.09375rem solid var(--color-neutral-900);

  --spacing-input: 20rem;
}

@layer base {
  body,
  #root {
    @apply min-w-screen min-h-screen text-neutral-900;
  }
}

@layer components {
  .text-preset-1 {
    @apply font-poppins-bold text-2xl leading-[1.2] md:text-[2rem] lg:text-[2.5rem];
  }

  .text-preset-2 {
    @apply font-poppins-semibold text-2xl leading-[1.2];
  }

  .text-preset-3 {
    @apply font-poppins-semibold text-xl leading-[1.2];
  }

  .text-preset-4-semibold {
    @apply font-poppins-semibold text-base leading-[1.2];
  }

  .text-preset-4-medium {
    @apply font-poppins-medium text-base leading-[1.2];
  }

  .text-preset-4-regular {
    @apply font-poppins-regular text-base leading-[1.4];
  }

  .text-preset-5 {
    @apply font-poppins-medium text-sm leading-[1.4];
  }

  .text-preset-5-regular {
    @apply font-poppins-regular text-sm leading-[1.4];
  }

  .text-preset-6 {
    @apply font-poppins-medium text-xs leading-[1.3] tracking-[-3%];
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-neutral-900);
  --input: var(--color-neutral-900);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-neutral-900);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: var(--color-neutral-900);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
}
